<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><!DOCTYPE html>
	       <html lang="en">
	       <head>
	       <meta charset="UTF-8">
	       <title>Explore</title>
	<link rel="stylesheet" href="../twitter.css">
	<script src="https://kit.fontawesome.com/2da2353c51.js" crossorigin="anonymous"></script>
</head>
<body>
<div class = "wd-thin-border wd-solid wd-grey-border">
	<div class="wd-margin">
		<div class="search">
			<span class="fa fa-search"></span>
			<input type = "text" placeholder="Search Twitter">
			<span class = "wd-gear"><a href="explore-settings.html"><i class="fa fa-cog"></i></a> </span>
		</div>

		<div class = "wd-div-nav">
			<ul class = "nav-list">
				<li class="nav-li"><a class="active" href="ForYou.html">For You</a></li>
				<li class="nav-li"><a class="inactive" href="Trending.html">Trending</a></li>
				<li class="nav-li"><a class = "inactive" href="Covid 19.html">COVID-19</a></li>
				<li class="nav-li"><a class = "inactive" href="News.html">News</a></li>
				<li class="nav-li"><a class = "inactive" href="Sports.html">Sports</a></li>
				<li class="nav-li"><a class = "inactive" href="Entertainment.html">Entertainment</a></li>
			</ul>
		</div>
	</div>
	<div class="wd-thin-border wd-solid wd-grey-border">
		<div class = "wd-margin">
			<p class="wd-general-topic">Trending in Science</p>
			<a href = "more-options.html"><i class="fas fa-ellipsis-h"></i></a>
			<p class="wd-author">Starship</p>
			<p class="wd-tweets">55.5K Tweets</p>
		</div>
	</div>
	<div class="wd-thin-border wd-solid wd-grey-border">
		<div class = "wd-margin">
			<p class="wd-general-topic">Sports &middot; Trending</p>
			<a href = "more-options.html"><i class="fas fa-ellipsis-h"></i></a>
			<p class="wd-author">Joe Rogan</p>
			<p class="wd-tweets">5,218 Tweets</p>
		</div>
	</div>
	<div class="wd-thin-border wd-solid wd-grey-border">
		<div class = "wd-margin">
			<img class="wd-logo" src="nytimes.png"/>
			<p class="wd-topic wd-paragraphs-left">The New York Times </p>
			<p class = "wd-general-topic wd-paragraphs-left">&middot; Yesterday</p><i class="fas fa-check"></i>
			<img class="wd-img" src="CNN.png"/>
			<p class="wd-author">CNN's Cuomo conundrum: A star anchor with a brother in trouble</p>
		</div>
	</div>
	<div class="wd-thin-border wd-solid wd-grey-border">
		<div class = "wd-margin">
			<img class="wd-img" src="ma.png"/>
			<p class="wd-general-topic">COVID-19 &middot; LIVE</p>
			<p class="wd-author">COVID-19: NEWS and updates for Massachusetts</p>
		</div>
	</div>
	<div class="wd-thin-border wd-solid wd-grey-border">
		<div class = "wd-margin">
			<img class = "wd-logo" src="Bloomberg.png"/>
			<p class="wd-topic wd-paragraphs-left">Bloomberg Opinion </p>
			<p class = "wd-general-topic wd-paragraphs-left">&middot; Yesterday</p><i class="fas fa-check"></i>
			<img class="wd-img" src="Booster.png"/>
			<p class="wd-author">Thinking about getting a booster? Read this frist.</p>
		</div>
	</div>
	<div class="wd-thin-border wd-solid wd-grey-border">
		<div class = "wd-margin">
			<p class="wd-general-topic">Trending in United States</p>
			<a href = "more-options.html"><i class="fas fa-ellipsis-h"></i></a>
			<p class="wd-author">Wonder Bread</p>
			<p class="wd-tweets">1,259 Tweets</p>
		</div>
	</div>


</div>
</body>
</html></title>
</head>
<body>

</body>
</html>