.wd-tweet-search-button {
    width: 100%;
    border-radius: 25px;
}

.wd-padding-top {
    padding-top: 4px;
}

::placeholder {
    padding-left: 40px;
}

.wd-card-image-design {
    /*bottom: 65px;*/
    /*font-weight: bold;*/
    /*left: -10px;*/
    /*color: white;*/

    bottom: 48px;
    font-weight: bold;
    left: 6px;
    color: white;
}

.wd-card-title {
    margin-top: -44px;
    margin-left: 12px;

}

.wd-web-dev-design {
    color: lightslategrey
}

.wd-bold_font {
    font-weight: bold
}

.wd-normal-font {
    font-weight: normal;
}

.wd-check-margin {
    margin-left: -10px;
}

.wd-timestamp-margin {
    margin-left: -12px;
}

.wd-side-image {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.wd-follow-button {
    border-radius: 30px;
    color: black;
    background-color: white;
}

.list-group {
    background-color: black;
    color: white;
}

.list-group .list-group-item {
    background-color: black;
    color: white;
}

.wd-active {
    font-weight: bold;
    color: white;
}

.wd-grey-font {
    color: darkgray;
}

.search input {
    /*background-color: lightgray;*/
    background-color: rgba(128, 128, 128, 0.3);
}

.search ::placeholder {
    color: darkgray;
}

.opacity .list-group-item {
    background-color: rgba(255, 255, 255, 0.3);
}

.wd-ellipsis {
    margin-left: 4rem;
    margin-top: 1rem;
}

.wd-check-black-color {
    color: black;
}

.wd-terms-of-service {
    font-size: smaller;
    color: darkgray;
}

.wd-border-style {
    border-style: solid;
    border-color: darkgrey;
    border-width: thin;
}

